<ion-content [fullscreen]="true">
    <ion-header>
        <ion-toolbar color="tertiary">
            <ion-title>WorkMaster</ion-title>
        </ion-toolbar>
    </ion-header>

    <ion-content>
        <div class="flexContainer">
            <ion-card>
                <img src="../../assets/img/3699671.svg" alt="" srcset="" />
                <ion-card-header>
                    <ion-card-title>Welcome To Work Master</ion-card-title>
                    <ion-card-subtitle>log your work any time any were</ion-card-subtitle>
                </ion-card-header>
                <ion-card-content>
                    <p>
                        You log your daily work and get a report or an analytics to see how effective your
                    </p>
                    <br />
                    <ion-button color="secondary" shape="round" expand="block" routerLink="/add-task">Add Work</ion-button>
                    <ion-button color="success" shape="round" expand="block" routerLink="/view-work">My Work</ion-button>
                    <ion-button color="danger" shape="round" expand="block">Analytics</ion-button>
                    <br />
                </ion-card-content>
            </ion-card>
        </div>
    </ion-content>
</ion-content>
